
.react-datepicker {
    font-size: 0.9em;
    left:800px;
    
  }
  .react-datepicker__header {
    padding-top: 0.8em;
   
   
  }
  .react-datepicker__month {
    font-size: 0.5em;
  
    width: 230px;
    height: 200px;
  
  }
  .react-datepicker__day-name{
    height: 10px;
    width: 25px;
  font-size: 0.9em;
  line-height: 1.8em;
  }
  
  
  .react-datepicker__day {
    height: 20px;
    width: 25px;
  font-size: 1.7em;
  line-height: 1.2em;
  
  
  
  
  }
  .react-datepicker__current-month {
    font-size: 0.8em;
  
    height: 40px;
  }
  .react-datepicker__navigation {
    width: 10px;
    top: 1em;
    line-height: 1.7em;
    border: 0.45em solid transparent;
  }
  .react-datepicker__navigation--previous {
    border-right-color: #dd3131;
    left: 0.7em;
  }
  .react-datepicker__navigation--next {
    border-left-color: rgb(218, 73, 73);
    right: 0.7em;
  }
  
  .react-datepicker-time__header {
    font-size: 0.944em;
  }
  
  .react-datepicker__navigation--next--with-time {
    right: 80px;
  }
  
  
  .react-datepicker__time-list-item {
    width: 50px;
  }
  
  